{% extends 'base.html.twig' %}

{% block title %}Nos produits - La boutique francaise{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-3">
            <h2>Filtrer</h2>
            {{ form(form) }}
        </div>
        <div class="col-md-9">
            <h2>Nos produits</h2>

            <div class="row mt-5 mb-5">
                {% for product in products %}
                    <div class="col-md-4">
                        <div class="product-item text-center">
                            <a href="{{ path('app_products_details', {'slug': product.slug}) }}"><img src="/uploads/{{ product.image }}" alt="{{ product.name }}" class="product-image"></a>
                            <h5>{{ product.name }}</h5>
                            <span class="product-subtitle">{{ product.subtitle }}</span>
                            <span class="product-price">{{ (product.price / 100) | number_format(2, ',', '.') }} $</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
